/shelf/
/workspace.xml
/dataSources/
/dataSources.local.xml
.tmp
.dbdata
/httpRequests/
.env
.idea
.vscode
.history
.DS_Store
.idea
.DS_Store
.vscode/settings.json
.vscode/launch.json
.history
cover.html
cover.out
__debug_bin
data/**/*.sql
data/**/*.tar
!data/0-create-roles.sql
!data/1-create-test-database.sql
debug.test
tmp